<p>emp-list works!</p>

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            
            <div class="row">
              <table class='table'>
                <thead>
                    <tr class='table-dark'>
                        <th>Name</th>
                        <th>Job</th>
                        <th>Salary</th>
                    </tr>
            
                </thead>
                <tr >
                    <td>Smith</td>
                    <td>Clerk</td>
                    <td>$2500.00</td>
                </tr>
                <tr *ngFor="let tempEmp of employees">
                <td>{{tempEmp.ename}}</td>
                <td>{{tempEmp.job}}</td>
                <td>{{tempEmp.sal}}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>
